<div class="text-center py-2" style="font-size: 1.5em;">
  <a href="#" style="text-decoration: none">
    <i class="bi bi-github text-dark p-2"></i>
  </a>
  <a href="#" style="text-decoration: none">
    <i class="bi bi-telegram text-info p-2"></i>
  </a>
  <a href="#" style="text-decoration: none">
    <i class="bi bi-whatsapp text-success p-2"></i>
  </a>
  <a href="#" style="text-decoration: none">
    <i class="bi bi-instagram text-danger p-2"></i>
  </a>
  <a href="#" style="text-decoration: none">
    <i class="bi bi-linkedin text-primary p-2"></i>
  </a>
</div>
